* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;                  
    color: white;
}

header img {
    height: 120px;                                                          
    width: 120px;                           /* to display the logo */
} 

body {
    display: flex;
    justify-content: center;                /* adjusting position of form*/
    align-items: center;
    min-height: 100vh;                      /* adjusting size of background */
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(background.jpg);
}

.container {                            /* container for content of form */
    width: 370px;
    background: linear-gradient(black,rgba(0,0,0,0.6));
    padding: 40px 30px 50px 30px;
    border-radius: 10px;                /* styling the box */
    border: 2px solid white;
    text-align: center;
}

.container header{
    font-size: 35px;
    font-weight: 600;
}

.container form {
    margin: 40px 0;                         
}

form .field{
    width: 100%;
    margin-bottom: 20px; 
}

form .field.shake {
    animation: shake 0.3s ease-in-out;   
}


@keyframes shake {        
    0%, 100% {
        margin-left: 0;   
    }

    20%, 80% {
        margin-left: -12px;       /* to control the amount of pixels it moves when shaking */
    }
                
    40%, 60% {
        margin-left: 12px;
    }
}

form .field .input-area {
    position: relative;
}

form input {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    padding: 0 45px;
    font-size: 16px;
    border: 1px solid white;
    border-bottom-width: 2px;
    color: white;
    background-color: black;
}

form .field.error input {
    border-color: red;          /* border turns red when there is an error */
}

form input::placeholder{
    font-size: 14px;
    color: gray;                 /* styling fields */
}

form .field i {
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-44.5%);
}

form .field .icon {
    left: 15px;
}

form .field .error-icon{            /* to adjust position of icons */
    right: 15px;
}

form .field .error-txt {
    color: red;
    margin-top : 7px;
    text-align: left;
}

form .field .error {
    display: none;                                  /* hide the error prompt */
}

form .field.error .error {
    display: block;
}

form .pass-link {
    text-align: left;
    margin-top: -10px;              
    margin-bottom: 30px
}

.container a {
    color: lightskyblue;
    text-decoration: none;              /* forgot password and join us */
}

.container a:hover {
    text-decoration: underline;
}

form input[type = "submit"] {
    border: 1px solid white;
    background: black;
    cursor: pointer;
    transition: 0.4s;                  
}

form input[type = "submit"]:hover {
    background-color: gray;
    transform: scale(0.9)
}

input.showPass {
    height: 12px;
    width: 12px;
    margin-top: 3.5px;                  /* checkbox to toggle to hide/show password */
    transform: translateX(-44.5%);
}

.chkBox {
    position: relative;
    display: flex;
    font-size: 14px;
    margin-top: 7px;
    transform: translateX(2.5%); 
}
